# Ejemplo de remappings en foundry.toml 
[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@chainlink/contracts/=lib/foundry-chainlink-toolkit/src/",
    "@chainlink-local/src/=lib/chainlink-local/src/",
    "forge-std=lib/forge-std/src"
]
