name: Foundry CI/CD
on:
  push:
    branches:
      - develop-foundry
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Foundry Toolchain
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install Forge dependencies
        run: forge install

      - name: Build contracts
        run: forge build

      - name: Run tests
        run: forge test